<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
        <test verbose="2" preserve-order="true" name="Diwan">
            <classes>
                <class name="tests.SearchFunctionalityTest"/>
                <class name="tests.AddToCartTest"/>
                <class name="tests.LoginTest"/>
                <class name="tests.EditAccountTest"/>
                <class name="tests.AuthorTest"/>
            </classes>
        </test>
</suite>